
.clientCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #7ed3e2;
}
.clientImage {
    width: 50px;
}
.clientName {
    text-transform: capitalize;
    margin-top: 4px;
}
.clientDataContainer {
    width: 90%;
    margin: 0 auto;
}
.clientData {
    margin: 8px 0 0;
    text-align: left;
}
.clientData span {
    font-weight: bold;
}
.clientPets {
    margin-top: 8px;
}
.clientPets h5 {
    margin: 5px 0;
}
.petBadge {
    display: inline-block;
    padding: 4px;
    margin: 5px;
    background-color: orange;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}
.btn {
	padding: 10px;
	margin: 5px;
	background: none;
	border: none;
	color: #FFF;
	font-weight: bold;
	border-radius: 5px;
    cursor: pointer;
}
.btn a {
	text-decoration: none;
	color: #FFF;
}
.edit {
	background-color: rgb(43, 168, 209);
}
.delete {
	background-color: red;
}
.done {
	background-color: green;
}
@media screen and (min-width: 650px) {
    .clientCard {
        width: 45%;
    }
}
@media screen and (min-width: 800px){
    .btn {
		font-size: 1rem;
	}
}