.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.form label {
    padding: 10px 0;
}
.form input {
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid grey;
    outline: none;
}
.form select {
    background-color: transparent;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid grey;
    outline: none;
}
.form input[type="submit"] {
    margin-top: 25px;
    background-color: #282B34;
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.errorMsg {
    padding: 8px 8px 0;
    color: red;
}
@media screen and (min-width: 800px) {
    .form {
        max-width: 800px;
        margin: 0 auto;
    }
}